#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

.puzzle-piece {
    width: 808px;
    border-radius: 30px;
    padding: 8rem;
    filter: drop-shadow(0 0 2em #61dafbaa);
    will-change: filter;
    transition: filter 300ms;
}
.puzzle-piece:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    margin: 3em;
    padding: 2em;
    border: 1px solid #fef2f2;
    border-radius: 420px;
}

.read-the-docs {
    color: #888;
}
