#root {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    font-family: monospace;
    font-size: 1.5rem;
}

.puzzle-piece {
    margin: 0 auto;
    height: 600px;
    border-radius: 30px;
    padding: 20px;
    filter: drop-shadow(0 0 2em #61dafbaa);
    will-change: filter;
    transition: filter 300ms;
}
.puzzle-piece:hover {
    filter: drop-shadow(0 0 5em #646cffaa);
}

.card {
    margin: 3em;
    padding: 2em;
    border: 1px solid #ff1987;
    border-radius: 42px;
}

.read-the-docs {
    color: #888;
}
